
body {
  margin: 0;
  background-color: #36393F;
}

#root {
  font-family: "Arial",Times, serif;
  color: rgb(255,255,255);
}

#search-input {
   display: block;
   margin-left: auto;
   color: white;
   margin-right: auto;
   width: 45%;
   height: 45px;
   border:2px solid white;
 	 border-radius:10px;
   font-size: 25px;
   border: none;
   outline: 0;
   background: none;
   -webkit-appearance: none;
}

ul {
  list-style-type:none;
}

.search-bar {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2F3136;
}

.sidebar {
  width: 215px;
  height: 100vh;
  background-color: #313237;
  float: left;
  align: center;
  overflow-y: auto;
  overflow-x: hidden;
  display:inline;
}

.sidebar button {
  background: none;
  color: white;
  border: none;
  text-decoration: none;
  height: 25px;
  outline: 0;
}

.sidebar button:hover {
  background: #515b5b;

}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #212224;
}
.sidebar::-webkit-scrollbar-track {
  background: #303136;
}

.mod-content {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.mod_category {
  margin: 0;
  width: 100%;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mod-entry {
  margin-left: 20px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 2px;
  position: relative;
  text-align: center;
  border: 0px solid #3a4145;
  border-radius: 2px;
}

.mod-entry:hover {
  background-color: #3a4145;
}

.mod-entry-author {
  position: absolute;
  top: 8px;
  right: 16px;
  margin-top: 5px;
  text-shadow: 2px 2px 5px black;
}
.mod-entry-install{
  position: absolute;
  bottom: 8px;
  right: 16px;
  margin-bottom: 20px;
}

.content-pane {
  overflow-y: scroll;
  height: 100vh;
}

.content-pane::-webkit-scrollbar {
    display: none;
}
