
body {
  margin: 0;
  background-color: rgb(35,39,42);
}

#root {
  font-family: "Arial",Times, serif;
  color: rgb(255,255,255);
}

#search-input {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 35%;
}

.search-bar {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(44,47,51);
}

.sidebar {
  width: 215px;
  height: 100vh;
  background-color: rgb(66,69,73);
  float: left;
  overflow-y: auto;
}

.mod-content {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}


.mod-entry {
  margin-left: 20px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 2px;
  position: relative;
  text-align: center;
  border: 0px solid #3a4145;
  border-radius: 2px;
}

.mod-entry:hover {
  background-color: #3a4145;
}

.mod-entry-author {
  position: absolute;
  top: 8px;
  right: 16px;
  margin-top: 5px;
  text-shadow: 2px 2px 5px black;
}
.mod-entry-install{
  position: absolute;
  bottom: 8px;
  right: 16px;
  margin-bottom: 20px;
}

.content-pane {
  overflow-y: scroll;
  height: 100vh;
}
